{% extends 'base.html' %}

{% block title %}
	Home Page
{% endblock %}

{% block content_title %}
	Home Page
{% endblock %}

{% block content %}
	<div class="col-md-6 col-md-offset-3">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias ipsum similique assumenda quidem sunt libero nihil magni ipsam rerum vitae nesciunt aliquam voluptas, tenetur delectus fugit quo excepturi ad!</p>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorum doloremque et veniam architecto, eius repellendus officiis consequuntur velit atque, dicta quibusdam perspiciatis cumque. Architecto facilis rerum beatae quia qui.</p>
		
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo omnis optio beatae. Possimus dolor autem temporibus, voluptatum consequatur, fugit error atque minus eligendi. Sequi, doloribus non voluptatum maxime, in voluptatibus.</p>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum obcaecati, ut consequatur accusamus praesentium, temporibus porro, atque recusandae minima a quasi non consectetur maxime corrupti architecto quas cupiditate facere natus.</p>
	</div>
{% endblock %}